<div class="container">
  <div class="row">
    <h1>Mes Réservations</h1>
    <div class="col-xs-6 col-xs-offset-3"><% @reservations.each do |reservation| %>
        <div class="message">
        <img class="crop avatar-large" src="https://images.pexels.com/photos/159192/vespa-roller-motor-scooter-cult-159192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        <div class="message-name">
          <h3><%= reservation.scooter.marque %></h3>
          <p><%= reservation.scooter.modele %></p>
        </div>
        <div class="message-body">
          <p>du <%= reservation.date_debut %></p>
          <p>au <%= reservation.date_fin %></p>
        </div>
        <div class="message-status">
          <p class="status pending">En cours</p>
          <p class="price">€345</p>
        </div>
      </div>
      <% end %></div>
  </div>
</div>
